//- cta-text-photo.pug
section.text-photo
	.container.text-photo__container
		.text-photo__wrapper
			.text-photo__content
				h2.section__title
					| ХОТИТЕ УЗНАТЬ
					br
					| СТОИМОСТЬ УБОРКИ?

				p.section__subtitle
					| Пришлите нам фото объекта в любой мессенджер, и мы рассчитаем
					br
					| стоимость уборки за несколько минут.
					br
					| Цена не изменится по приезду!

				a.ui__button-arrow.ui__button-arrow.pink(href="#")
					| Написать в Telegram
					<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.5" cy="16.5" r="16.5" fill="white"></circle><path d="M14.4001 12.1999C14.8419 11.8687 15.4682 11.9583 15.7995 12.4001L18.7995 16.4001C19.066 16.7556 19.066 17.2438 18.7995 17.5993L15.7995 21.5993C15.4682 22.0411 14.8419 22.1308 14.4001 21.7995C13.9583 21.4682 13.8687 20.8419 14.1999 20.4001L16.5341 17.2873L16.7497 16.9997L16.5341 16.7121L14.1999 13.5993C13.8687 13.1575 13.9583 12.5312 14.4001 12.1999Z" fill="#B71375"></path></svg>

			.text-photo__media
				img.text-photo__img(src="./assets/img/Group 391.png" alt="Переписка в мессенджере")

		a.ui__button-arrow.mobile.ui__button-arrow.pink(href="#")
			| Написать в Telegram
			<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.5" cy="16.5" r="16.5" fill="white"></circle><path d="M14.4001 12.1999C14.8419 11.8687 15.4682 11.9583 15.7995 12.4001L18.7995 16.4001C19.066 16.7556 19.066 17.2438 18.7995 17.5993L15.7995 21.5993C15.4682 22.0411 14.8419 22.1308 14.4001 21.7995C13.9583 21.4682 13.8687 20.8419 14.1999 20.4001L16.5341 17.2873L16.7497 16.9997L16.5341 16.7121L14.1999 13.5993C13.8687 13.1575 13.9583 12.5312 14.4001 12.1999Z" fill="#B71375"></path></svg>
