//- services-text-photo.pug
section.services-text-photo
	.container.services-text-photo__container
		.services-text-photo__wrapper
			.services-text-photo__content
				h2.section__title
					| УБОРКА ДОМОВ И ЧАСТНЫХ
					br
					| КВАРТИР В КАЛИНИНГРАДЕ

				p.section__subtitle
					| Мы предоставляем полный спектр услуг по уборке жилых помещений любого типа: от компактных квартир до просторных коттеджей, таунхаусов и загородных дач. Наши специалисты проводят все виды клининга — генеральную уборку для глубокого очищения, регулярную поддерживающую уборку для ежедневного комфорта, специализированную послеремонтную уборку и прочую.  В работе мы используем исключительно профессиональное немецкое оборудование и специальную химию премиум-класса, что гарантирует безопасность для вашей семьи и безупречный результат.
				p.section__subtitle
					| Стоимость клининга всегда прозрачна и рассчитывается индивидуально. Окончательная цена клининга зависит от нескольких ключевых факторов: типа объекта (квартира, коттедж, таунхаус, дача), общей площади помещений и конкретного списка необходимых услуг. Мы бесплатно проведем точный расчет, чтобы вы заранее знали итоговую стоимость и могли принять взвешенное решение, без скрытых платежей и неприятных сюрпризов.
				p.section__subtitle    
					| Выбирая профессиональную уборку от «Клинер ПРО39», вы инвестируете в свое время, комфорт и здоровую атмосферу дома. Мы не просто наводим порядок, мы создаем эталонную чистоту с гарантией качества. Свяжитесь с нами, чтобы узнать точную цену на клининг для вашего дома и сделать первый шаг к идеальному порядку. Доверьте чистоту профессионалам — и получите результат, который превзойдет ваши ожидания.

			.services-text-photo__media
				img.services-text-photo__img(src="./assets/img/Group 444.png" alt="Уборка")
