doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
        <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>


        link(rel="stylesheet", href="./css/style.css")
    body 



        //- Header
        include ../components/header/header.pug
        
        main
            //- blog-overview
            include ../components/blog-overview/blog-overview.pug

            //- text-section
            include ../components/text-section/text-section.pug

            //- ticker
            include ../components/ticker/ticker.pug

        //- Footer
        include ../components/footer/footer.pug

        
    
    script(src="./js/main.js")