doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
        <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>


        link(rel="stylesheet", href="./css/style.css")
    body 



        //- Header
        include ../components/header/header.pug
        
        //- Hero
        include ../components/hero/hero.pug

        //- Ticker
        include ../components/ticker/ticker.pug

        //- Service-Features
        include ../components/service-features/service-features.pug

        //- services
        include ../components/services/services.pug

        //- before-after
        include ../components/before-after/before-after.pug

        //- steps-4
        include ../components/steps-4/steps-4.pug

        //- callback-form
        include ../components/callback-form/callback-form.pug

        //- team
        include ../components/team/team.pug

        //- reviews
        include ../components/reviews/reviews.pug

        //- cta-text-photo
        include ../components/cta-text-photo/cta-text-photo.pug

        //- faq
        include ../components/faq/faq.pug

        //- text-video
        include ../components/text-video/text-video.pug

        //- Ticker
        include ../components/ticker/ticker.pug

        //- Footer
        include ../components/footer/footer.pug

        
    
    script(src="./js/main.js")