section.text-quote
	.container.text-quote__container 
		nav.breadcrumbs(aria-label="Хлебные крошки")
			ol.breadcrumbs__list
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#") Главная
				li.breadcrumbs__sep(aria-hidden="true")
				li.breadcrumbs__item
					span.breadcrumbs__current(aria-current="page") Оборудование и моющие средства


		.text-quote__wrapper
			.text-quote__inner

				.text-quote__content
					h2.section__title-big Оборудование и моющие средства

					.text-quote__text
						p
							| Когда речь заходит о генеральной уборке квартиры, фундаментом безупречного
							| результата является симбиоз мастерства клинеров и технологичного арсенала.
							| Компания «Клинер ПРО39» принципиально использует только профессиональное
							| немецкое оборудование и специализированную химию премиум-класса.
							| Это стратегический выбор, а не маркетинговый ход.

						p
							| Для нас это — гарантия того, что каждая уборка в Калининграде проходит
							| по высшим стандартам. Мы достигаем не просто видимой чистоты, а уровня
							| гигиенической чистоты, который невозможно воспроизвести с помощью
							| бытовой техники и универсальных средств.

				.text-quote__aside
					blockquote.text-quote__quote
						span.text-quote__mark 
							<svg width="63" height="41" viewBox="0 0 63 41" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_292_479)">
									<path d="M37.7668 18.4789C39.5537 18.0466 40.842 16.8874 42.7508 16.4138C55.6085 13.2197 62.2797 29.248 53.4309 37.492C45.0475 45.301 30.8268 39.1662 29.7325 27.9786C28.6326 16.7139 35.0518 5.95313 45.6543 1.95501C47.1586 1.38778 52.3671 -0.228539 53.6886 0.0247879C54.6 0.201012 54.7884 2.67919 54.395 2.92976C46.0255 4.35058 38.8667 9.69517 37.764 18.4789H37.7668Z" fill="#B71375" />
									<path d="M24.7336 0.035778C24.559 0.812271 25.4428 2.45888 24.7474 2.93524C24.5203 3.08944 21.8689 3.59333 21.2013 3.81362C13.9427 6.22295 9.00851 11.0692 7.83938 18.7543C9.18859 18.3385 10.2912 17.3885 11.6432 16.8929C20.0681 13.8172 28.3324 19.9961 27.7783 28.8019C26.7643 44.8852 1.51999 45.3478 0.0848961 27.1498C-1.09809 12.1485 10.0834 0.977486 24.7336 0.035778Z" fill="#B71375" />
								</g>
								<defs>
									<clipPath id="clip0_292_479">
									<rect width="63" height="41" fill="white" transform="matrix(-1 0 0 -1 63 41)" />
									</clipPath>
								</defs>
							</svg>
						p
							| Чистота, которая имеет значение:
							| почему наше оборудование и химия —
							| ваше ключевое преимущество
