section.text-section
    .text-section__container.container 
        .text-section__wrapper 
            h2.section__title 
            p.section__subtitle

            .text-section__text 
                p 
                    | Чистота — это не только эстетика, но и залог здоровья, комфорта и сохранности вашего дома. Наш блог создан для того, чтобы стать вашим надежным помощником в вопросах профессионального клининга и эффективной домашней уборки. Здесь мы делимся экспертными знаниями, проверенными методиками и полезными советами, основанными на многолетнем опыте работы в Калининграде.
                p   
                    | Мы собрали для вас коллекцию статей, которые ответят на самые важные вопросы:
                ul 
                    li 
                        | Как поддерживать порядок? Секреты регулярной уборки для занятых людей.
                    li  
                        | Когда нужны профессионалы? Подробные гайды по генеральной и послеремонтной уборке.
                    li      
                        | Как ухаживать за разными поверхностями? Рекомендации по чистке ковров, мебели, кухни и сантехники.
                    li 
                        | Что важно для здоровья? Статьи об устранении аллергенов, дезинфекции и выборе безопасных средств.
                p 
                    |  Изучайте материалы, находите решения для своих задач и узнавайте, как мы можем помочь вам в создании идеальной чистоты. Применяйте советы на практике или доверьте заботу о чистоте нам — команде «Клинер ПРО39». Ваш дом заслуживает профессионализма.
                    