
<section class="blog-overview">
  <div class="container blog-overview__container">
    <h2 class="section__title">ПОЛЕЗНЫЕ СТАТЬИ</h2>
    <div class="blog-overview__grid">
      <article class="blog-card"><a class="blog-card__link" href="#">
          <div class="blog-card__media"><img class="blog-card__img" src="img/blog/1.jpg" alt=""/></div>
          <div class="blog-card__body">
            <h3 class="blog-card__title">Что делать, если<br/>завелись пылевые<br/>клещи?</h3><span class="blog-card__more"></span>
          </div></a></article>
      <article class="blog-card"><a class="blog-card__link" href="#">
          <div class="blog-card__media"><img class="blog-card__img" src="img/blog/2.jpg" alt=""/></div>
          <div class="blog-card__body">
            <h3 class="blog-card__title">Что делать, если<br/>завелись пылевые<br/>клещи?</h3><span class="blog-card__more"></span>
          </div></a></article>
      <article class="blog-card"><a class="blog-card__link" href="#">
          <div class="blog-card__media"><img class="blog-card__img" src="img/blog/3.jpg" alt=""/></div>
          <div class="blog-card__body">
            <h3 class="blog-card__title">Что делать, если<br/>завелись пылевые<br/>клещи?</h3><span class="blog-card__more"></span>
          </div></a></article>
    </div>
    <nav class="blog-pager" aria-label="Пагинация статей">
      <button class="blog-pager__nav blog-pager__nav--prev" type="button" aria-label="Предыдущая"></button>
      <ul class="blog-pager__list">
        <li>
          <button class="blog-pager__btn is-active" type="button" data-page="1">1</button>
        </li>
        <li>
          <button class="blog-pager__btn" type="button" data-page="2">2</button>
        </li>
        <li>
          <button class="blog-pager__btn" type="button" data-page="3">3</button>
        </li>
        <li class="blog-pager__dots">…</li>
        <li>
          <button class="blog-pager__btn" type="button" data-page="10">10</button>
        </li>
      </ul>
      <button class="blog-pager__nav blog-pager__nav--next" type="button" aria-label="Следующая"></button>
    </nav>
  </div>
</section>