


.header {
    width: 100%;
    margin-top: 48px;

    &__container {

    }
    &__wrapper {
        background: #f7f7f7;
        width: 100%;
        height: 80px;
        border-radius: 36px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 24px 16px 24px 36px;
    }

    &__logo {
        svg, img {
            width: 180px;
            height: 50px;
            min-width: 180px;
            min-height: 50px;
            display: flex;
            object-fit: contain;
        }
    }
    &__nav {

        @media (max-width:1660px) {
            display: none;
        }
        
        ul {
            display: flex;
            gap: 20px;
            @include adaptive-value(gap, 20px, 10px, 1920px, 467px);
        }

        a {
            font-family: $font3;
            font-weight: 400;
            font-size: 12px;
            color: #26357e;

        }
    }



    @media (max-width:467px) {
        .ui__button-arrow {
            display: none;
        }
    }
}