.blog-article {
	margin: 86px 0;

	&__container {
		max-width: 1200px;
	}

	&__title {
		margin: 0 0 28px;
        font-family: $second-family;
        font-weight: 700;
        font-size: 48px;
        @include adaptive-value(font-size, 48px, 26px, 1920px, 767px);
        text-transform: uppercase;
        color: #26357e;
	}

	// ===== first screen =====
	&__intro {
		display: grid;
		grid-template-columns: 1fr 1.1fr;
		gap: 36px;
		align-items: start;
		margin-bottom: 34px;

		@media (max-width: 1024px) {
			grid-template-columns: 1fr;
			gap: 22px;
		}

	}

	&__media {
		border-radius: 55px;
        @include adaptive-value(border-radius, 55px, 24px, 1920px, 767px);
		overflow: hidden;
		
        height: 100%;
	}

	&__img {
		width: 100%;
		display: block;
		height: 100%;
		object-fit: cover;
	}

	&__intro-text {
        font-family: $font-family;
        font-weight: 300;
        font-size: 18px;
        @include adaptive-value(font-size, 18px, 15px, 1920px, 767px);
        color: $general;

        h2 {
            margin: 28px 0 12px;
            font-family: $font-family;
            font-weight: 700;
            font-size: 18px;
            @include adaptive-value(font-size, 18px, 15px, 1920px, 767px);
            color: $general;
        }

		p {
			margin: 0 0 14px;
		}
	}

	&__footer {
		margin-top: 42px;
		display: flex;
		justify-content: space-between;
		gap: 16px;

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: stretch;
		}
	}

	@media (max-width: 767px) {
		margin: 56px 0;
	}
}

/* ===== WYSIWYG ===== */
.wysiwyg {
	    font-family: $font-family;
        font-weight: 300;
        font-size: 18px;
        @include adaptive-value(font-size, 18px, 15px, 1920px, 767px);
        color: $general;

	h2 {
		margin: 28px 0 12px;
        font-family: $font-family;
        font-weight: 700;
        font-size: 18px;
        @include adaptive-value(font-size, 18px, 15px, 1920px, 767px);
        color: $general;
	}

	p {
		margin: 0 0 16px;
	}

	ul,
	ol {
		margin: 0 0 18px;
		padding-left: 22px;
		display: grid;
		gap: 8px;

        list-style: inherit;
	}

	@media (max-width: 767px) {
		font-size: 15px;

		h2 {
			font-size: 18px;
		}
	}
}
