//- text-video.pug
section.text-video
	.container.text-video__container
		.text-video__wrapper
			.text-video__content
				h2.section__title О НАС

				.text-video__text
					p
						| Профессиональный клининг в Калининграде от компании “Клинер ПРО39”
						| Чистота — это искусство. Мы создаем его для вас каждый день.
						| Ищете надежную клининговую компанию в Калининграде, которой можно
						| доверить безупречную чистоту вашего дома или офиса? Вы нашли
						| идеального партнера!

					p
						| Компания “Клинер ПРО39” — это профессиональный клининг для жителей
						| и бизнеса Калининграда и области. Мы используем современное немецкое
						| оборудование, безопасную химию премиум-класса и отработанные
						| технологии, чтобы результат превосходил ожидания.

			.text-video__media
				.text-video__frame
					img.text-video__img(src="./assets/img/wide-angle_shot_of_a_stylish_clean_luxury_living_room_right_after_professional_cleaning_modern_inte_dfts47hx9bvl1mhrplvh_0 1.png" alt="О компании")
					button.text-video__play(type="button" aria-label="Смотреть видео")
						span.text-video__play-ico(aria-hidden="true")
                        
