//- ticker.pug
section.ticker
    .ticker__track
        .ticker__group
            span.ticker__item Менеджер будет на связи с вами 24/7
            span.ticker__separator
            span.ticker__item Заключаем договор
            span.ticker__separator
            span.ticker__item Дарим сертификат на последующие уборки
            span.ticker__separator
            span.ticker__item Используем профессиональное оборудование
            span.ticker__separator
            span.ticker__item Качественная химия

        //- дубликат для бесшовной анимации
        .ticker__group(aria-hidden="true")
            span.ticker__separator
            span.ticker__item Менеджер будет на связи с вами 24/7
            span.ticker__separator
            span.ticker__item Заключаем договор
            span.ticker__separator
            span.ticker__item Дарим сертификат на последующие уборки
            span.ticker__separator
            span.ticker__item Используем профессиональное оборудование
            span.ticker__separator
            span.ticker__item Качественная химия
