.ticker {
    background: #26357e;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;

    margin-bottom: 86px;
    @include adaptive-value(margin-bottom, 86px, 50px, 1920px, 767px);

    &__track {
        display: flex;
        width: max-content;
        animation: ticker-move 22s linear infinite;
    }

    &__group {
        display: flex;
        align-items: center;
    }

    &__item {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        padding: 14px 0;
    }

  &__separator {
        width: 18px;
        height: 18px;
        margin: 0 24px;
        flex: 0 0 auto;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 15px;

        background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15' fill='none'>\
<path d='M7.54851 4.61113C7.1127 4.61113 6.69474 4.44446 6.38657 4.14777C6.0784 3.85108 5.90527 3.44867 5.90527 3.02908V1.58204C5.90527 1.16246 6.0784 0.760052 6.38657 0.463361C6.69474 0.16667 7.1127 0 7.54851 0C7.98432 0 8.40229 0.16667 8.71046 0.463361C9.01862 0.760052 9.19175 1.16246 9.19175 1.58204V3.02908C9.19175 3.44867 9.01862 3.85108 8.71046 4.14777C8.40229 4.44446 7.98432 4.61113 7.54851 4.61113Z' fill='white'/>\
<path d='M7.54851 14.5317C7.1127 14.5317 6.69474 14.365 6.38657 14.0683C6.0784 13.7716 5.90527 13.3692 5.90527 12.9496V11.5047C5.90527 11.0851 6.0784 10.6827 6.38657 10.386C6.69474 10.0893 7.1127 9.92267 7.54851 9.92267C7.98432 9.92267 8.40229 10.0893 8.71046 10.386C9.01862 10.6827 9.19175 11.0851 9.19175 11.5047V12.9496C9.19175 13.3692 9.01862 13.7716 8.71046 14.0683C8.40229 14.365 7.98432 14.5317 7.54851 14.5317Z' fill='white'/>\
<path d='M3.14625 8.8489H1.64324C1.20742 8.8489 0.789457 8.68223 0.48129 8.38554C0.173123 8.08885 0 7.68644 0 7.26686C0 6.84727 0.173123 6.44489 0.48129 6.1482C0.789457 5.85151 1.20742 5.68481 1.64324 5.68481H3.14625C3.58206 5.68481 4.00003 5.85151 4.30819 6.1482C4.61636 6.44489 4.78948 6.84727 4.78948 7.26686C4.78948 7.68644 4.61636 8.08885 4.30819 8.38554C4.00003 8.68223 3.58206 8.8489 3.14625 8.8489Z' fill='white'/>\
<path d='M13.4509 8.8489H11.9479C11.5121 8.8489 11.0941 8.68223 10.786 8.38554C10.4778 8.08885 10.3047 7.68644 10.3047 7.26686C10.3047 6.84727 10.4778 6.44489 10.786 6.1482C11.0941 5.85151 11.5121 5.68481 11.9479 5.68481H13.4509C13.8867 5.68481 14.3047 5.85151 14.6129 6.1482C14.921 6.44489 15.0942 6.84727 15.0942 7.26686C15.0942 7.68644 14.921 8.08885 14.6129 8.38554C14.3047 8.68223 13.8867 8.8489 13.4509 8.8489Z' fill='white'/>\
</svg>");
    }

    @media (max-width: 640px) {
        &__item {
            font-size: 15px;
        }

        &__separator {
            margin: 0 16px;
        }
    }
}

@keyframes ticker-move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
