section.services-single-text-photo
	.container.services-single-text-photo__container
		.services-single-text-photo__wrapper
			.services-single-text-photo__content
				h2.section__title
					| КЛИНИНГ КВАРТИРЫ
					br
					| ПО ВЫГОДНОЙ ЦЕНЕ

				p.section__subtitle
					| Генеральная уборка квартиры в Калининграде — больше не тяжелый труд! Невважно, у вас студия или просторная трешка, мы прекрасно понимаем, как масштабная уборка может выматывать. Забудьте о потраченных выходных и апатии. Доверьте эту задачу профессионалам компании «Клинер ПРО39».
					br
					br
					| Наши специалисты наведут идеальный порядок в вашей квартире за несколько часов. Мы берем на себя все: от тщательной борьбы с пылью до мытья сантехники и полов. Вам остается лишь вернуться в чистый, уютный и свежий дом.
					br
					br
					| Итоговая стоимость формируется исходя из площади и состояния вашей квартиры, конкретного списка работ и доп. услуг (по желанию). Мы работаем на всей территории Калининграда, приезжаем точно в срок со всем необходимым оборудованием и безопасными средствами.

			.services-single-text-photo__media
				img.services-single-text-photo__img(
					src="https://placehold.co/630x540"
					alt="Клининг квартиры"
					loading="lazy"
				)
