//- steps-4.pug
section.steps-4
	.container.steps-4__container
		h2.section__title
			| 4 ШАГА ДЛЯ ИДЕАЛЬНОЙ
			br
			| ЧИСТОТЫ ВАШЕГО ДОМА

		.steps-4__box
			.steps-4__grid
				article.step-card.step-card--lead
					.step-card__inner
						.step-card__icon
							

						h3.step-card__title ЗАЯВКА
						p.step-card__text
							| Оставьте заявку, позвоните
							br
							| или пишите нам в мессенджеры

						.step-card__num 1

						.step-card__actions
							a.ui__button-noarrow.blue(href="#") Заявка
							a.ui__button-noarrow.blue.outline(href="#") Telegram

				article.step-card
					.step-card__inner
						.step-card__icon
							//- svg

						h3.step-card__title ОЦЕНКА
						p.step-card__text
							| Предварительная оценка
							br
							| по фото и видео, выезд на объект

						.step-card__num 2

						
				article.step-card
					.step-card__inner
						.step-card__icon
							//- svg

						h3.step-card__title УБОРКА
						p.step-card__text
							| Приезжает бригада
							br
							| и выполняет уборку

						.step-card__num 3

						
				article.step-card
					.step-card__inner
						.step-card__icon
							//- svg

						h3.step-card__title ПРОВЕРКА И ОПЛАТА
						p.step-card__text
							| После проверки уборки оплачиваете
							br
							| удобным для Вас способом

						.step-card__num 4

						