//- before-after.pug
section.before-after
	.container.before-after__container
		h2.section__title
			| ГОТОВЫ ВЗЯТЬСЯ ЗА УБОРКУ
			br
			| ЛЮБОЙ СЛОЖНОСТИ

		.before-after__box
			button.before-after__nav.before-after__nav--prev(type="button" aria-label="Назад")
			button.before-after__nav.before-after__nav--next(type="button" aria-label="Вперёд")

			.before-after__swiper.ba-swiper.swiper
				.before-after__list.swiper-wrapper
					.before-after__slide.swiper-slide
						.ba(data-start="45")
							.ba__frame
								img.ba__img.ba__img--before(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-before.jpg" alt="До")
								.ba__after
									img.ba__img.ba__img--after(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-after.jpg" alt="После")

								.ba__label.ba__label--before До
								.ba__label.ba__label--after После

								.ba__handle(type="button" aria-hidden="true")
								input.ba__range(type="range" min="0" max="100" value="50" aria-label="Сравнение до и после")

					.before-after__slide.swiper-slide
						.ba(data-start="55")
							.ba__frame
								img.ba__img.ba__img--before(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-before.jpg" alt="До")
								.ba__after
									img.ba__img.ba__img--after(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-after.jpg" alt="После")

								.ba__label.ba__label--before До
								.ba__label.ba__label--after После

								.ba__handle(type="button" aria-hidden="true")
								input.ba__range(type="range" min="0" max="100" value="50" aria-label="Сравнение до и после")

					.before-after__slide.swiper-slide
						.ba(data-start="50")
							.ba__frame
								img.ba__img.ba__img--before(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-before.jpg" alt="До")
								.ba__after
									img.ba__img.ba__img--after(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/photoshop-face-after.jpg" alt="После")

								.ba__label.ba__label--before До
								.ba__label.ba__label--after После

								.ba__handle(type="button" aria-hidden="true")
								input.ba__range(type="range" min="0" max="100" value="50" aria-label="Сравнение до и после")
