//- team.pug
section.team
    .container.team__container
        h2.section__title
            | СОТРУДНИКИ КОМПАНИИ
            br
            | «КЛИНЕР ПРО39»

        p.section__subtitle
            | Команда “Марины Клиннера” — это высококвалифицированные
            br
            | профессионалы, которые заботятся о вашем здоровье и комфорте.
            br
            | Все наши профессионалы проходят тщательный отбор и стажировку
            br
            | под руководством опытного наставника.


        .team__swiper
            .team__list.swiper-wrapper
                .team-card.swiper-slide
                    .team-card__content
                        h3.team-card__name Екатерина
                        p.team-card__quote
                            | “Свою работу выполняю
                            br
                            | ответственно и в срок.”
                        p.team-card__count
                            | 350 уборок

                    .team-card__photo
                        img(src="./assets/img/full-body_corporate_portrait_photo_of_a_european_35-year-old_woman_cleaning_company_employee_the_pe_ufder3kfuwkok5wkyss6_3 1 (2).png" alt="Екатерина")

                    .team-card__rating
                        span.team-card__rating-value 5
                        span.team-card__rating-sep /
                        span.team-card__rating-max 5

                .team-card.swiper-slide
                    .team-card__content
                        h3.team-card__name Олег
                        p.team-card__quote
                            | “Всегда стараюсь сделать
                            br
                            | работу в лучшем виде.”
                        p.team-card__count
                            | 200 уборок

                    .team-card__photo
                        img(src="./assets/img/full-body_corporate_portrait_photo_of_a_european_35-year-old_man_cleaning_company_employee_the_pers_82mypo45e8munlj7skin_0 1.png" alt="Олег")

                    .team-card__rating
                        span.team-card__rating-value 4,9
                        span.team-card__rating-sep /
                        span.team-card__rating-max 5

                .team-card.swiper-slide
                    .team-card__content
                        h3.team-card__name Алия
                        p.team-card__quote
                            | “Люблю чистоту и порядок!
                            br
                            | Занимаюсь тем, что люблю.”
                        p.team-card__count
                            | 200 уборок

                    .team-card__photo
                        img(src="./assets/img/full-body_corporate_portrait_photo_of_a_25-year-old_woman_cleaning_company_employee_the_person_is_s_l0wkr3dh3elztzk345ww_3 1.png" alt="Алия")

                    .team-card__rating
                        span.team-card__rating-value 4,9
                        span.team-card__rating-sep /
                        span.team-card__rating-max 5

                .team-card.swiper-slide
                    .team-card__content
                        h3.team-card__name София
                        p.team-card__quote
                            | “Уважаю свой труд, ценю
                            br
                            | каждого клиента.”
                        p.team-card__count
                            | 350 уборок

                    .team-card__photo
                        img(src="./assets/img/full-body_corporate_portrait_photo_of_a_european_45-year-old_woman_cleaning_company_employee_the_pe_km9owqh6klbv6pf2mlw4_2 1.png" alt="София")

                    .team-card__rating
                        span.team-card__rating-value 5
                        span.team-card__rating-sep /
                        span.team-card__rating-max 5

               
