//- footer.pug
footer.footer
	.container.footer__container
		.footer__grid
			.footer__cols
				.footer__col.footer-col
					button.footer-col__head(type="button" data-footer-acc)
						span.footer-col__title Уборка квартир
						span.footer-col__ico
					.footer-col__body
						ul.footer-col__list
							li: a.footer-col__link(href="#") Генеральная
							li: a.footer-col__link(href="#") После ремонта
							li: a.footer-col__link(href="#") Поддерживающая
							li: a.footer-col__link(href="#") Комплексная
							li: a.footer-col__link(href="#") Запущенных квартир

				.footer__col.footer-col
					button.footer-col__head(type="button" data-footer-acc)
						span.footer-col__title Уборка домов
						span.footer-col__ico
					.footer-col__body
						ul.footer-col__list
							li: a.footer-col__link(href="#") Поддерживающая
							li: a.footer-col__link(href="#") После ремонта
							li: a.footer-col__link(href="#") Коттеджа
							li: a.footer-col__link(href="#") Таунхауса
							li: a.footer-col__link(href="#") Дачи

				.footer__col.footer-col
					button.footer-col__head(type="button" data-footer-acc)
						span.footer-col__title Уборка офисов
						span.footer-col__ico
					.footer-col__body
						ul.footer-col__list
							li: a.footer-col__link(href="#") Генеральная
							li: a.footer-col__link(href="#") После ремонта
							li: a.footer-col__link(href="#") Поддерживающая
							li: a.footer-col__link(href="#") На постоянной основе
							li: a.footer-col__link(href="#") Ежедневная

				.footer__col.footer-col
					button.footer-col__head(type="button" data-footer-acc)
						span.footer-col__title Уборка коммерческих помещений
						span.footer-col__ico
					.footer-col__body
						ul.footer-col__list
							li: a.footer-col__link(href="#") Нежилых
							li: a.footer-col__link(href="#") После ремонта
							li: a.footer-col__link(href="#") Служебных
							li: a.footer-col__link(href="#") Производственных
							li: a.footer-col__link(href="#") Складских
							li: a.footer-col__link(href="#") Прочих по видам

				.footer__col.footer-col
					button.footer-col__head(type="button" data-footer-acc)
						span.footer-col__title Доп. услуги
						span.footer-col__ico
					.footer-col__body
						ul.footer-col__list
							li: a.footer-col__link(href="#") Мытьё окон
							li: a.footer-col__link(href="#") Уборка территории
							li: a.footer-col__link(href="#") Уборка после пожара
							li: a.footer-col__link(href="#") Уборка после потопа
							li: a.footer-col__link(href="#") Уборка после дезинсекции

				.footer__col.footer-col
					button.footer-col__head(type="button" data-footer-acc)
						span.footer-col__title Химчистка
						span.footer-col__ico
					.footer-col__body
						ul.footer-col__list
							li: a.footer-col__link(href="#") Диванов
							li: a.footer-col__link(href="#") Мягкой мебели
							li: a.footer-col__link(href="#") Ковров
							li: a.footer-col__link(href="#") Матрасов
							li: a.footer-col__link(href="#") Стульев

			.footer__info
				.footer__info-block.footer-info
					h3.footer-info__title Контакты
					ul.footer-info__list
						li: a.footer-info__link(href="tel:+79240196962") +7 (924) 019 69 62
						li: a.footer-info__link(href="mailto:kliningpro39@mail.ru") kliningpro39@mail.ru
						li.footer-info__text г. Калининград, ул. Юрия Гагарина 39

				.footer__info-block.footer-info
					h3.footer-info__title Регион работы:
					p.footer-info__text Калининград,
						br
						| и Калининградская область

				.footer__info-block.footer-info
					h3.footer-info__title Способы оплаты:
					.footer__pay
			
