.services-single-hero {
	margin: 38px 0 86px;

	&__title {
		margin: 10px 0 0;
		color: #26357e;
        font-family: $second-family;
        font-weight: 700;
        font-size: 48px;
        @include adaptive-value(font-size, 48px, 26px, 1920px, 767px);
        line-height: 101%;
        text-transform: uppercase;
        color: #26357e;
	}

	&__media {
		margin-top: 26px;
		display: grid;
		grid-template-columns: 1fr 340px;
		gap: 22px;
		align-items: stretch;

		@media (max-width: 1024px) {
			grid-template-columns: 1fr;
			gap: 14px;
		}
	}

	&__img-wrap {
		border-radius: 34px;
		overflow: hidden;
		background: #f7f7f7;
		
		transform: translateZ(0);

		&--side {
			@media (max-width: 1024px) {
				display: none;
			}
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}
}

