.equipment-secondary-card {
	p {
		font-family: $font-family;
		font-weight: 300;
		font-size: 14px;
		@include adaptive-value(font-size, 14px, 12px, 1920px, 467px);
		color: #26357e;
		margin-top: 16px;
	}
}

.equipment-secondary {
	margin: 86px 0;

	overflow: hidden;

	&__container {
		position: relative;
	}

	&__box {
		position: relative;
		margin-top: 28px;
		overflow: hidden;
	}

	&__swiper {
		overflow: visible;
	}

	&__nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 5;

		width: 54px;
		height: 54px;
		border-radius: 999px;
		border: 0;
		
		cursor: pointer;

		display: grid;
		place-items: center;

		
		transition: transform 200ms ease, opacity 200ms ease;

		&:active {
			transform: translateY(-50%) scale(0.98);
		}

		&.is-hidden {
			
			
		}

		&.is-disabled {
			transition: .2s ease;
			opacity: 0.5;
		}

		&--prev {
			left: -38px;
			@media (max-width:767px) {
				left: 0;
			}
		}

		&--next {
			right: -38px;
			@media (max-width:767px) {
				right: 0;
			}
		}
	}

	
	@media (max-width: 767px) {
		margin: 56px 0;

		
	}
}

.equipment-secondary-card {
	transition: transform 220ms ease;
   

	&__media {
		background: rgba(81, 81, 81, 0.05);
		border-radius: 32px;
		padding: 22px;
		display: flex;
		place-items: center;
		justify-content: center;
		align-items: center;
	

		height: 330px;

		margin-bottom: 36px;
		@include adaptive-value(margin-bottom, 36px, 16px, 1920px, 767px);

		img {
			max-width: 100%;
			height: 100%;
			display: block;
			
			object-fit: contain;
			transform: translateZ(0);
		
		}
	}

	&__title {
		font-family: $third-family;
		font-weight: 500;
		font-size: 17px;
		@include adaptive-value(font-size,17px, 15px, 1920px, 767px);
		color: #26357e;
	}

	@media (max-width: 1024px) {
		&__title {
			font-size: 20px;
		}
	}

	@media (max-width: 767px) {
		&__media {
			border-radius: 26px;
			min-height: 220px;
		}

		&__title {
			font-size: 18px;
			max-width: 280px;
		}
	}
}
