//- reviews.pug
section.reviews
	.container.reviews__container
		.reviews__head
			h2.section__title
				| ЧИСТОТА, ВДОХНОВЛЕННАЯ
				br
				| ОТЗЫВАМИ КЛИЕНТОВ

			.reviews__actions
				a.ui__button-arrow.ui__button-arrow.pink(href="#")
					| Мы в Яндекс Картах
					<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.5" cy="16.5" r="16.5" fill="white"></circle><path d="M14.4001 12.1999C14.8419 11.8687 15.4682 11.9583 15.7995 12.4001L18.7995 16.4001C19.066 16.7556 19.066 17.2438 18.7995 17.5993L15.7995 21.5993C15.4682 22.0411 14.8419 22.1308 14.4001 21.7995C13.9583 21.4682 13.8687 20.8419 14.1999 20.4001L16.5341 17.2873L16.7497 16.9997L16.5341 16.7121L14.1999 13.5993C13.8687 13.1575 13.9583 12.5312 14.4001 12.1999Z" fill="#B71375"></path></svg>

				a.ui__button-arrow.ui__button-noarrow.blue.outline(href="#") Мы в 2GIS

		.reviews__grid
			.reviews__swiper.swiper
				.reviews__list.swiper-wrapper
					article.review-card.swiper-slide
						h3.review-card__name Мария, домохозяйка
						p.review-card__rate
							span.review-card__rate-value 4,9
							span.review-card__rate-star

						p.review-card__text
							| Раньше уборка была для меня мучением! А теперь — просто звоню ребятам, и дом сияет! Это не клининг, это настоящая магия! Спасибо вам за чистоту и свободное время!
						.review-card__source.review-card__source--gis

					article.review-card.swiper-slide
						h3.review-card__name Артём, бизнесмен
						p.review-card__rate
							span.review-card__rate-value 5
							span.review-card__rate-star
						p.review-card__text
							| Как руководитель, ценю скорость и качество. Эти ребята работают как швейцарские часы! Офис всегда безупречен, сэкономлены время и нервы. Рекомендую!
						.review-card__source.review-card__source--yandex

					article.review-card.swiper-slide
						h3.review-card__name Игорь, собственник
						p.review-card__rate
							span.review-card__rate-value 4,8
							span.review-card__rate-star
						p.review-card__text
							| В бизнесе важна каждая мелочь. Безупречный офис — часть имиджа. Ваша команда работает ювелирно! Это не просто уборка, это создание атмосферы.
						.review-card__source.review-card__source--yandex

					article.review-card.swiper-slide
						h3.review-card__name София, дизайнер
						p.review-card__rate
							span.review-card__rate-value 5
							span.review-card__rate-star
						p.review-card__text
							| Очень ценю внимание к деталям. Квартира выглядит идеально, воздух свежий, а атмосфера — как после хорошего ремонта. Буду обращаться ещё!
						.review-card__source.review-card__source--gis

			aside.reviews-badge
				.reviews-badge__title
					| 1000+
					br
					| счастливых
					br
					| клиентов
				p.reviews-badge__text
					| Узнайте, как мы можем помочь вам создать комфортное пространство для жизни и работы!
