section.text-section
    .text-section__container.container 
        .text-section__wrapper 
            h2.section__title 
                | Убедитесь в качестве на практике:<br>ваш дом — наш следующий кейс
            p.section__subtitle

            .text-section__text(style="margin-top: 36px;")
                p 
                    | Вы ознакомились с фотографиями наших объектов — это лишь часть примеров безупречной чистоты, которую мы ежедневно создаем для жителей и предпринимателей Калининграда. Каждая выполненная работа — это результат строгого следования стандартам компании «Клинер ПРО39», где профессиональное оборудование, безопасная химия и внимание к каждой детали превращают уборку квартиры в гарантированный идеальный результат.
                p
                    | Мы уверены в своём качестве и готовы продемонстрировать его лично вам. Закажите профессиональный клининг, и ваша квартира, частный дом или коттедж станут следующим убедительным примером в нашем портфолио. Доступная стоимость, фиксированная цена и сотни положительных отзывов — это не просто слова, а наша ежедневная практика. Готовы превратить ваше пространство в образец чистоты? Свяжитесь с нами для расчёта и заказа услуги уже сегодня.