.price-accordion {

	&__content {
		overflow: hidden;
		
	}

}

.sa-item {

    .price-accordion__content {
        transition: .2s ease;
        opacity: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    &.is-open {
        .price-accordion__content {
            transition: .2s ease;
            opacity: 1;
            padding-top: 26px;
            padding-bottom: 18px;
        }
    }
} 

.price-row {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 18px;
	align-items: center;

	padding: 12px 0;

	@media (max-width: 767px) {
		gap: 12px;
		padding: 10px 0;
	}

	
	&:nth-child(even) {
		background: #eef0f5;
	}

	&__name {
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        @include adaptive-value(font-size, 18px, 15px, 1920px, 767px);
        color: #26357e;

		@media (max-width: 767px) {
			font-size: 15px;
		}
	}

	&__price {
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        @include adaptive-value(font-size, 18px, 15px, 1920px, 767px);
        text-align: right;
        color: #26357e;

		@media (max-width: 767px) {
			font-size: 15px;
		}
	}

	&__badge {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-left: 10px;

		height: 22px;
		padding: 0 10px;
		border-radius: 999px;

		background: #b71375;
		color: #fff;

        font-family: $third-family;
        font-weight: 300;
        font-size: 12px;
        @include adaptive-value(font-size, 12px, 10px, 1920px, 767px);
        text-transform: uppercase;
        color: #fff;
	}
}

